.landing {
    width: 90%;
    margin: 4% auto;
    /* border: solid red 1px; */
}

.homepageBreak {
    height: 1px;
    background-color: rgb(218, 218, 218);
    margin-bottom: 3%;
    width: 100%;
}

.homeImgContainer{
    width: 100%;
    height: 47vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.70);
    z-index: -1;
}

.welcomeText{
    position: absolute;
}

.bigTitle{
    font-size: 3.6em;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 1px rgb(33, 33, 33);
    letter-spacing: 1px;
}

.littleTitle{
    font-size: 1em;
    font-weight: 600;
    padding: 1% 0;
    color: white;
    text-shadow: 1px 1px 1px rgb(48, 48, 48);
    font-style: italic;
    letter-spacing: 1px;
}


.welcomeSpace{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 47vh;
    /* border: solid red 1px; */
    max-width: 1500px;
    margin: 0 auto;
}

.welcomeTitles{
    flex-basis: 48%;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

.insideWelcomeTitles{
    width: fit-content;
}

.bigText{
    font-size: 3.6em;
    font-weight: 600;
    color: rgb(23, 23, 23);
    letter-spacing: 1px;
}

.littleText{
    font-size: 1em;
    margin: 3% 0 7% 0;
    color: rgb(56, 56, 56);
    /* border: solid red 1px; */
    width: 100%;
    line-height: 1.4;
    text-align: left;
}

.now{
    font-style: italic;
    font-weight: 500;
}

.homeBtns{
    display: flex;
}

.homeBtnFilled{
    background-color: rgb(169, 203, 237);
    color: rgb(71, 71, 71);
    padding: 3% 7%;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    margin-right: 2%;
}

.homeBtnUnfilled{
    color: rgb(71, 71, 71);
    background-color: transparent;
    padding: 3% 7%;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    border: solid rgb(169, 203, 237) 3px;
    border-radius: 3px;
}

.homeBtnFilled:hover, .homeBtnUnfilled:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.welcomeImg{
    /* border: solid red 1px; */
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.insideImg{
    height: 95%;
    width: fit-content;
    padding: 0 15%;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(242, 213, 245), rgb(228, 236, 244));
    /* border: solid red 1px; */
}

.gb{
    height: inherit;
    object-fit: cover;
    animation: floating 3s ease-in-out infinite;
}

.hmBreak{
    margin: 3% 0;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@media only screen and (max-width: 1100px) {

        .welcomeTitles{
            flex-basis: 54%;
            display: flex;
            position: relative;
            top: -7%;
            justify-content: center;
        }
        .homeBtnFilled{
            font-size: .9em;
            font-weight: 500;
        }
        .bigText{
            font-size: 2.8em;
        }
        .littleText{
            font-size: .9em;
        }
        .homeBtnUnfilled{
            font-size: 1.05em;
            font-weight: 500;
            border: solid rgb(169, 203, 237) 2px;
        }
        .welcomeImg{
            flex-basis: 45%;
        }
        .insideImg{
            height: 80%;
            padding: 5%;
            /* border: solid red 1px; */
        }
        .gb{
            position: relative;
            top: 7%;
        }
  
}

@media only screen and (max-width: 700px) {

    .welcomeSpace{
        height: fit-content;
    }
    .welcomeTitles{
        flex-basis: 100%;
        /* border: solid red 1px; */
        top: 0;
    }
    .insideWelcomeTitles{
        width: 93%;
    }
    .bigText{
        font-size: 2.5em;
        text-align: left;
    }
    .littleText, .homeBtnFilled, .homeBtnUnfilled{
        font-size: .9em;
    }
    .homeBtns{
        display: flex;
        flex-direction: row;
    }

    .welcomeImg{
        flex-basis: 100%;
    }
    .homeBtnFilled{
        flex-basis: 50%;
    }
    .homeBtnUnfilled{
        flex-basis: 50%;
    }
    .insideImg{
        height: 10%;
        padding: 5%;
        width: 85vw;
        box-sizing: border-box;
        /* border: solid red 1px; */
    }
    .gb{
        position: relative;
        top: 0;
        height: 250px;
        /* border: solid red 1px; */
    }

}