.rankingContainer{
    width: 75%;
    margin: 50px auto;
}

.expand{
    color: rgb(90, 90, 90);
    padding: 8px;
    border:  solid 2px rgba(145, 145, 145, 0.476);
}

.expandImg{
    font-size: 2.5em;
    color: rgb(157, 157, 157);
}

.expandImg:hover, .expand:hover{
    color:rgb(142, 142, 142);
    transform: scale(1.01);
}

.rankingTitle{
    width: 100%;
    text-align: left;
    font-size: 2.4em;
    font-weight: 500;
    /* border: solid red 1px; */
    display: flex;
    align-items: center;
    margin: 0 0 50px 10px;
}

.trend{
    height: 50px;
    width: 50px;
    padding-right: 20px;
    /* border: solid red 1px; */
}
