.logo{
    height: 45px;
}

.loginBtn{
    box-sizing: border-box;
    padding: 10px 25px;
    background-color: transparent;
    border: solid gray 1px;
    border-radius: 200px;
    font-size: 1em;
    margin-right: 5%;
    letter-spacing: 1px;
}

.loginBtn:hover{
    cursor: pointer;
    color: rgb(1, 120, 184);
    border: solid rgb(1, 120, 184) 1px;
}

.fullLinks:hover{
    cursor: pointer;
    color: rgb(1, 120, 184);
}

.menuItemContainer{
    width: 90vw;
    /* border: solid red 1px; */
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 450px) {
    .loginBtn{
        box-sizing: border-box;
        padding: 7px 10px;
        background-color: transparent;
        border: solid gray 1px;
        border-radius: 2px;
        font-size: 1em;
        margin-right: 5%;
        letter-spacing: 1px;
    }
}
